<header class="header" role="banner">
	
	<ul class="nav__list" id="nav__list">
		<li class="nav__item"><a href="{{ site.baseurl }}/" class="logo" rel="home">Home</a></li>
		<li class="nav__item"><a href="{{ site.baseurl }}/info" class="logo">About This Seminar</a></li>
		<li class="nav__item"><a href="{{ site.baseurl }}/speakers" class="logo">Speakers</a></li>
		<li class="nav__item"><a href="{{ site.baseurl }}/schedule" class="logo">Schedule</a></li>
		<li class="nav__item"><a href="{{ site.baseurl }}/readings" class="logo">Resources</a></li>
	</ul>

    <nav class="nav" role="navigation">
		<button class="nav__btn" href="#nav-list">Menu</button>

        <ul class="nav__list" id="nav__list">
			<li class="nav__item"><a href="https://canvas.uw.edu/courses/1427084" class="nav__link" target="_blank" rel="noopener noreferrer">Canvas</a></li>
			<li class="nav__item"><a href="https://www.youtube.com/channel/UCxh4oeI3w9NMLIqbi_P55Wg" class="nav__link" target="_blank" rel="noopener noreferrer">Seminar Recordings</a></li>
		</ul>
	</nav>

</header><!--end .header-->

<main role="main">
